.create-comment {
  width: calc(100% - 4rem);
  padding: 1rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
}

.create-comment textarea {
  width: 100%;
  min-height: 100px;
  resize: none;
  padding: 1rem;
  color: black;
}

.create-comment div {
    padding-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rate-button {
  font-size: 1.5rem;
  border: none;
  padding: 0;
  transform: translateY(-.5rem);
}

.create-comment .comment-button {
  padding: 0.5rem;
  align-self: flex-end;
  width: 30%;
  min-width: 50px;
  max-width: 200px;
  background: rgb(var(--bg-tertiary));
  color: rgb(var(--text-tertiary));
}

.create-comment .comment-button:hover {
  box-shadow: 2px 2px 10px rgb(var(--shadow-primary));
}

.create-comment .comment-button:active {
  background-color: rgb(var(--bg-primary));
  color: rgb(var(--text-primary));
}
