.form {
  margin: 2rem auto;
  padding: 1rem;
}

.form fieldset {
  display: grid;
  max-width: 300px;
  margin: auto;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  box-shadow: 3px 3px 15px black;
  border-radius: 2rem 2rem 0 4rem;
  background: rgba(var(--bg-tertiary), 0.4);
}

.form fieldset legend {
  margin: auto;
}

.form fieldset input {
  padding: 0.5rem;
  margin: 0.5rem 1rem;
  border-radius: 12px;
  text-indent: 0.5rem;
  box-shadow: inset 2px 2px 4px black;
  outline: none;
}

.form small {
  padding: 0 1.5rem;
  font-size: 0.7rem;
  letter-spacing: 0.125rem;
  transform: translateY(-12px);
}

.form fieldset button {
  margin: auto;
  padding: 0.5rem;
  width: 80%;
  box-shadow: 2px 2px 4px black;
  border-radius: 1rem 1rem 0 1.5rem;
  background: rgb(var(--bg-tertiary));
  color: white;
}

.form fieldset button:hover {
  background: rgb(var(--bg-primary));
  color: black;
}

.form fieldset button:active {
  box-shadow: inset 2px 2px 4px black;
}

.form fieldset span {
  display: flex;
  gap: 0;
}

.form fieldset .password {
  width: fit-content;
  margin-right: 0;
}

.form fieldset input[type="button"] {
  width: fit-content;
  margin-left: 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  padding-right: 6px;
  font-size: 20px;
}

.other-links {
  display: flex;
  margin: auto;
  justify-content: center;
  background: rgba(128, 128, 128, 0.8);
  padding: 0.5rem;
  letter-spacing: 0.125rem;
  font-size: 0.7rem;
}

.other-links a {
  color: black;
}

.loader {
  position: absolute;
  top: 25%;
  left: 50%;
  padding: 1rem;
  margin: 1rem auto;
  width: fit-content;
  transform: translateX(-50%) scale(150%);
  border-radius: 16px;
  background: rgba(128, 128, 128, 0.8);
}

.loader button {
  padding: .25rem;
}
