article {
    display: grid;
    padding: 2rem;
    gap: 1.5rem;
    letter-spacing: .25rem;
}

.overview,
.features,
.closing {
    display: grid;
    padding: 1.5rem;
    gap: 1.5rem;
    background: rgba(var(--bg-tertiary),.5);
    border-radius: 1rem;
}

.features h4 {
    padding: 0 1rem;
}

.overview p,
.features p,
.closing p {
    padding: 0 1rem;
    text-indent: 3rem;
}