.book-main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.image-container {
  position: relative;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}

.image-container h3 {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  background: rgba(var(--bg-tertiary), 0.8);
  border-radius: 1rem;
  text-align: left;
  z-index: 2;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.image-container:focus img {
  position: fixed;
  height: auto;
  top: 0;
  left: 0;
  z-index: 2;
}

.close-button {
  display: none;
  padding: .125rem .25rem;
 }

 .image-container:focus .close-button {
   display: block;
   position: fixed;
   top: calc(6rem);
   right: 2rem;
   background: red;
   z-index: 2;
 }

.detail-container {
  padding: 1rem;
}

.detail-container p {
  letter-spacing: .125rem;
  line-height: 1.5;
}

.about {
 width: calc(100% - 4rem);
 place-self: center;
}

.about p,
.genres li,
.authors li {
  padding: 0 1rem;
  line-height: 2;
  text-indent: 1rem;
}

.rating-container {
  background: rgba(var(--bg-tertiary),.5);
  padding: 2rem 1rem 1rem;
  margin: 2rem 0;
  border-radius: 1rem;
  width: calc(100% - 4rem);
}

.rate {
  background: rgba(var(--bg-tertiary), 0.5);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.rate-content {
  padding: 0 2rem 1rem;
}

.rater {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem 1rem 1rem;
  margin-bottom: .5rem;
  border-radius: 2rem 1rem 4rem 2rem;
  background: rgba(var(--bg-tertiary), 0.5);
  position: relative;
}

.user-image {
  border-radius: 100%;
  padding: 0;
  border: 1px solid black;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
}
.user-image img {
  width: 100%;
  height: auto;
  min-height: 3rem;
}

.user-image:focus {
  border-radius: 0;
  height: auto;
  width: 80vw;
  max-width: 500px;
  position: absolute;
  left: 0;
  z-index: 3;
}
.username {
  position: absolute;
  left: 5rem;
  bottom: 1rem;
}

.rate-stars {
  position: absolute;
  left: 5rem;
  top: 1rem;
}

.rate-stars span {
  color: yellow;
}

.background {
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem 1rem;
  border-radius: 1rem;
  background: rgba(var(--bg-secondary), 0.5);
}

.background h4 {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: rgba(var(--bg-tertiary), 0.5);
}

.login-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 1rem;
}

.login-action button {
  background: rgb(var(--bg-tertiary));
}

.login-action button a {
  color: rgb(var(--text-tertiary));
}

@media screen and (min-width: 768px) {
  .book-main-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .image-container {
    width: 100%;
    border: none;
  }

  .image-container img {
   max-height: 100%;
  }

  .image-container:focus img {
    width: 100%;
    top: 0;
    left: 1rem;

  }

  .detail-container {
    max-width: 800px;
    width: 100%;
  }

  .about {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .login-action {
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
}

.delete-comment {
  position: absolute;
  padding: .25rem;
  color: rgb(var(--text-tertiary));
  right: 1rem;
  top: .5rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(32, 178, 171, 1) 90%,
    rgba(32, 178, 171, 1) 95%
  );
  z-index: 1;
}
