.book-main-container {
  width: 100%;
}

.image-container {
  position: relative;
  width: calc(100% - 2rem);
  padding: 1rem;
  margin: 1rem;
  overflow: hidden;
}

.image-container h3 {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  padding: 1rem;
  width: calc(100% - 2rem);
  background: rgba(var(--bg-tertiary), 0.8);
  border-radius: 1rem;
  text-align: left;
  z-index: 2;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.detail-container {
  display: grid;
  padding: 1rem;
}

.detail-container p {
  letter-spacing: .125rem;
  line-height: 1.5;
}

.about {
  max-height: 400px;
  overflow: scroll;
}

.rating-container {
  padding: 1rem;
  width: 100%;
}

.rate {
  background: rgba(var(--bg-tertiary), 0.5);
  padding: 0.5rem;
  margin: 1rem 0;
  border-radius: 1rem;
}

.rate-content {
  padding: 0 2rem 1rem;
}

.rater {
  display: inline-flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem 3rem 0.5rem 1rem;
  border-radius: 2rem 1rem 4rem 2rem;
  background: rgba(var(--bg-tertiary), 0.5);
  position: relative;
}

.user-image {
  border-radius: 100%;
  border: 1px solid black;
  height: 2rem;
  width: 2rem;
}

.user-image:active {
  border-radius: 0;
  height: auto;
  width: 80vw;
  max-width: 768px;
  position: absolute;
  left: 0;
}

.rate-stars span {
  display: inline-flex;
  transform: translateY(-2px);
}

.background {
  margin: 0 1rem 1rem;
  padding: 0.5rem 1rem 1rem;
  border-radius: 1rem;
  background: rgba(var(--bg-secondary), 0.5);
}

.background h4 {
  display: inline-block;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border-radius: 0.5rem;
  background: rgba(var(--bg-tertiary), 0.5);
}

.background p,
.background li {
  margin-left: 1.5rem;
}

@media screen and (min-width: 768px) {
  .book-main-container {
    display: flex;
  }

  .image-container {
    width: 100%;
  }

  .image-container img {
   max-height: calc(100%);
  }

  .detail-container {
    max-width: 800px;
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 50%,
    rgba(32, 178, 171, 1) 90%,
    rgba(32, 178, 171, 1) 95%
  );
  z-index: 1;
}
